<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <!-- APP HEADER SECTION -->
    <header>
      <div class="app-bar">
        <div>
          <h1>About</h1>
        </div>
        <div>
          <ul class="nav-box">
            <li>
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li class="current-page">
              <a class="nav-link" href="./about.html">About</a>
            </li>
            <li>
              <a class="nav-link" href="./projects.html">Projects</a>
            </li>
            <li><a class="nav-link" href="./contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </header>

    <!-- APP MAIN SECTION (INVOICE) -->
    <main>
      <div class="container about-container">
        <div class="about-section-left">
          <img class="mi-retrato" src="../assets/foto/Foto retrato Renzo 2022.jpg" alt="">
        </div>
        <div class="about-section-right">
          <p class="about-section-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut enim
            suscipit corrupti optio non dolorum labore debitis deserunt doloribus,
            impedit laboriosam eveniet molestias quo ex? Odit dolorum tempora ut
            molestiae?
          </p>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer-bar">
        <div>
          <p>
            &#169; 2023 Renzo Belon • Built for The Bridge Full-Stack Developer
            Bootcamp
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
