<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/projects.css" />
  </head>
  <body>
    <!-- APP HEADER SECTION -->
    <header>
      <div class="app-bar">
        <div>
          <h1>Projects</h1>
        </div>
        <div>
          <ul class="nav-box">
            <li>
              <a class="nav-link" href="../index.html">Home</a>
            </li>
            <li><a class="nav-link" href="./about.html">About</a></li>
            <li class="current-page">
              <a class="nav-link" href="./projects.html">Projects</a>
            </li>
            <li><a class="nav-link" href="./contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </header>

    <main>
      <div class="projects-container">
        <!-- SECTION 1: CSS STYLED LETTER -->
        <h2 id="section-01">
          <a class="project-link" href="../views/carta.html" target="_blank"
            >CSS STYLED LETTER</a
          >
        </h2>

        <!-- SECTION 2: CSS FLAGS -->
        <h2 id="section-02">
          <a
            class="project-link"
            href="../views/responsive.html"
            target="_blank"
            >CSS RESPONSIVE LAYOUT</a
          >
        </h2>

        <!-- SECTION 3: CSS RESPONSIVE LAYOUT -->
        <h2 id="section-03">
          <a class="project-link" href="../views/flags.html" target="_blank"
            >CSS FLAGS</a
          >
        </h2>

        <br />

        <br />
        <h2 id="section-03">
          My video work:
        </h2>
        <p>Retrospectiva "ejemplos a seguir!" - Goethe-Institut Lima</p>
        <div>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/23P4yPiyPJQ?si=Kz9uGAEH-fu2g1nB"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer-bar">
        <div>
          <p>
            &#169; 2023 Renzo Belon • Built for The Bridge Full-Stack Developer
            Bootcamp
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
